body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.firstsection,
.footer {
    background-color: #1F2937;
}

.firstsection {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-secondary-text,
.link {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

.hero-text {
    display: flex;
    justify-content:space-around; 
    margin-bottom: 64px;
    padding-left: 64px;
    padding-right: 64px;
}
.left-hero-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 350px;
}

img {
    width: 350px;
    height: 200px;
}

.signup,
.box {
    background-color: #3882f6;
}

button {
    border: none;
    color: white;
    padding: 8px;
    text-decoration: none;
    border-radius: 8px;
}

.secondsection {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.thirdsection {
    background-color: #E5E7EB;
    padding: 32px 150px;
    color:#1F2937
}
.quote {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 0;
    font-weight: light;
}

.signoff {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}

.fourthsection {
    padding: 32px;
}

.box {
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
}

.calltoaction {
   
}